* {
    box-sizing: border-box;
  }

header {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#wrapper {
    max-width: 940px;
    align-self: center;
    margin: auto;

}

#hero {
    max-height: 600px;
    max-width: 60%;
    background-image: url("hands-typing.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: #000; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#about-me {
    max-width: 940px; 
    align-items: center;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    padding: 20px, 0;
 }

 #services {
    background-color: #fafafa
    max-width: 940px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;


 }

 .btn {
    display: flex;
    align-items: flex-start;
 }
 

 #work {
    max-width: 940px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    flex: wrap;
 }

 #work :nth-child(1) {
    grid-column: 1 / 4;
 }

 #work :nth-child(2) {
    grid-column: 4 / 7;
 }

 #woek :nth-child(3) {
    grid-column: 1 / 3;
 }

 #work :nth-child(4) {
    grid-column: 3 / 5;
 }

 #work :nth-child(5) {
    grid-column: 5 / 7;
 }
